/* TaskList Styles */
.task-list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    min-width: 300px;
  }
  
  .task-list-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .task {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .task:hover {
    background-color: #e0e0e0;
  }
  
  .task-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  