/* TaskList Styles */
.task-list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    min-width: 300px;
  }
  
  .task-list-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .task {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .task:hover {
    background-color: #e0e0e0;
  }
  
  .task-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
/* TaskList.css */

/* .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  } */
  /* .task-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
  } */
  ul.task-list {
    list-style-type: none;
    padding: 0;
  }
  
  ul.task-list li.task-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
  }
  
  .task-title {
    font-weight: bold;
  }
  
  .task-details {
    display: flex;
    align-items: center;
  }
  
  .task-priority {
    padding: 3px 8px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }
  
  .priority-low {
    background-color: #61bd4f;
    color: #fff;
  }
  
  .priority-medium {
    background-color: #f2d600;
    color: #000;
  }
  
  .priority-high {
    background-color: #eb5a46;
    color: #fff;
  }
  
  .task-end-date {
    font-style: italic;
    margin-left: 10px;
  }
    